<!-- start custom head snippets -->

<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/images/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/assets/images/favicons/favicon-16x16.png">
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/images/favicons/apple-touch-icon.png">
<link rel="manifest" href="{{ site.baseurl }}/manifest.json">
<meta name="theme-color" content="#00539C">

<!-- end custom head snippets -->
